<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h1>Listado de notas de {{ estudiante }}</h1>
    <p>Notas {{ notas }}</p>

    {% for nota in notas %}{% if nota < 6 %}
    <p style="color: red"> Nota no fuciciente {{ nota }}</p>
    {% else %}
    <p style="color: green"> Nota suficiente {{ nota }}</p>
    {% endif %}{% endfor %}

  </body>
</html>
